* {
  background-color: black;
}
img {
  color: white;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(25, 24, 24);

  margin-left: 10px;
  width: 70px;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 100px;
}
button {
  background-color: white;
  width: 9vw;
  height: 4vh;

  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 7px;
}
@media screen and (min-width: 992px) {
  button {
    font-size: 0.6rem;
    font-weight: bold;
  }
}
@media screen and (min-width: 300px) {
  button {
    font-size: 0.4rem;
    font-weight: 600;
    margin-right: 20px;
  }
  img {
    height: 50px;
    width: 50px;
  }
}
